<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
      <%newListItems.forEach(function(item){ %>

        <!--Adding delete functionality by adding a form around checkbox and adding a submit method to checkbox-->
        <form action="/delete" method="post">    
          <div class="item">
            <input type="checkbox" name = "checkbox" value=<%=item._id%> onChange="this.form.submit()">
             <p><%= item.name  %></p>   <!--accessing only the name from the data object passed -->
          </div>
        </form>
 
      <%})%>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%=listTitle%>">+</button>      <!--adding a value to button to access the title name-->
      </form>
  </div>

<%- include("footer") -%>
